@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="body-box">
    @Body
    <button type="button" class="home" @onclick="HandleHomeClick">🏠</button>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private void HandleHomeClick()
    {
        NavigationManager.NavigateTo("/");
    }
}