.container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 60% 40%;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardset {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 3px silver;
    border-radius: 15px;
    padding: 10px;
    gap: 10px;
}

.cardset ::deep select {
    width: 300px;
    flex-grow: 1;
    height: 30px;
}

.cardset button {
    height: 30px;
    min-width: 30px;
}

.cardset>.save {
    margin-left: auto;
}

.cards {
    border: solid 3px silver;
    border-radius: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    align-content: flex-start;
    overflow-y: scroll;
    height: 1px;
}

.cards ::deep .card {
    height: 200px;
}

.new {
    background: transparent;
    height: 200px;
    aspect-ratio: 5/8;
    border: solid 4px silver;
    border-radius: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.new.selected {
    border-color: red;
}

.new>div {
    border: solid 4px green;
    color: green;
    border-radius: 50%;
    height: 50px;
    aspect-ratio: 1;
    font-size: 20px;
    display: grid;
    place-items: center;
}

.right {
    display: grid;
    place-items: center;
}

.editor {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editor>div {
    display: flex;
}

.separate {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.grow {
    flex-grow: 1;
}

.grow ::deep .card {
    height: 400px;
}

.savedialog {
    width: 300px;
    border: solid 3px silver;
    border-radius: 15px;
    background: #333;
    color: white;
}

.savedialog label {
    width: 100%;
}

.savedialog ::deep input {
    width: 100%;
    height: 30px;
}

.savedialog::backdrop {
    background: #9999;
}

.savebuttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    gap: 15px;
}