@page "/cards"
@inject MongoClient dbClient
@rendermode InteractiveServer

<div class="container">
    <AllCardsView />
    <div class="middle">
        <div class="card-editor">
            <CardView CardModel="@currentCard" />
            <div class="pic-btn-container">
                <input type="button" value="edit picture" />
            </div>
            <div class="pin-cost-edit">
                <input type="button" title="reduce cost" value="-" @onclick="HandleCostDecrease" />
                <input type="button" title="increase cost" value="+" @onclick="HandleCostIncrease" />
            </div>
            <div class="value-edit">
                <input type="button" title="reduce value" value="-" @onclick="HandleValueDecrease" />
                <input type="button" title="increase value" value="+" @onclick="HandleValueIncrease" />
            </div>
            <input type="button" value="reset" class="reset-btn" />
            <input type="button" value="save" class="save-btn" />
            <div class="name-btn-container">
                <input type="button" value="edit name" />
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        flex-grow: 1;
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .card-editor {
        position: relative;
    }

    .pic-btn-container {
        position: absolute;
        top: -30px;
        display: grid;
        place-items: center;
        width: 100%;
    }

    .card-editor .card {
        height: 400px;
    }

    .pin-cost-edit {
        position: absolute;
        top: -30px;
        left: 0;
    }

    .value-edit {
        position: absolute;
        top: -30px;
        right: 0;
    }

    .field {
        height: 150px;
        width: 150px;
        margin-bottom: 20px;
        border: solid 2px silver;
        border-radius: 10px;
        display: grid;
        padding: 10px;
        grid-template-columns: auto auto auto auto auto;
        gap: 5px;
    }

    .name {
        border-top: solid 2px silver;
        display: grid;
        place-items: center;
        height: 50px;
        width: 100%;
    }

    .name>input {
        all: unset;
        text-align: center;
        height: 40px;
    }

    .reset-btn {
        position: absolute;
        bottom: -30px;
        left: 0;
    }

    .save-btn {
        position: absolute;
        bottom: -30px;
        right: 0;
    }

    .name-btn-container {
        position: absolute;
        bottom: -30px;
        display: grid;
        place-items: center;
        width: 100%;
    }
</style>

@code {
    private Card currentCard = Card.GetBlank();

    private void HandleCostDecrease() => currentCard.PinCost = Math.Max(1, currentCard.PinCost - 1);
    private void HandleCostIncrease() => currentCard.PinCost = Math.Min(3, currentCard.PinCost + 1);
    private void HandleValueDecrease() => currentCard.Value = Math.Max(1, currentCard.Value - 1);
    private void HandleValueIncrease() => currentCard.Value = Math.Min(6, currentCard.Value + 1);
}