@page "/decks"

<PageTitle>Queen's Blood - Manage Decks</PageTitle>

<div class="decks-container">
    <div class="decks-header">
        <span>Your decks</span>
        @for (var i = 1; i <= 5; i++)
        {
            <DeckSelectButton Index="i" />
        }
        <label>
            <span>Deck nickname:</span>
            <input class="deck-name-input" type="text" />
        </label>
    </div>

    <ActiveDeck />
</div>

<style>
    .decks-container {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }

    .deck-name-input {
        background: transparent;
        color: white;
        border: solid 2px white;
        border-radius: 5px;
        padding: 4px;
    }
</style>