@page "/"
@inject IPlayerIdAccessor playerIdAccessor
@inject IGamesService gamesService
@inject IHttpContextAccessor contextAccessor
@inject NavigationManager navigationManager

@using RNG = System.Security.Cryptography.RandomNumberGenerator

<PageTitle>Queen&#39;s Blood</PageTitle>

<div class="home-box">
    <h1></h1>
    <h1 class="title">Queen&#39;s Blood</h1>
    <div class="controls-container">
        @if (existingGame.IsActive && existingGame.State != GameState.GameOver)
        {
            <a href="/play/@(existingGame.Id)" class="mainlink">Continue game @(existingGame.Id)</a>
            <button class="forfeit" type="button" @onclick="HandleForfeitClick"><span>-&gt;</span> forfeit and start new <span>&lt;-</span></button>
        }
        else
        {
            <a href="/play" class="mainlink">Start new game</a>
        }
        <a href="/decks" class="mainlink deckslink">Manage decks</a>
    </div>
</div>

@code {
    private string playerId = "";
    private Game existingGame = Game.None;

    protected override void OnInitialized()
    {
        playerId = playerIdAccessor.GetPlayerId();
        existingGame = gamesService.FindGameByPlayerId(playerId);
    }

    private void HandleForfeitClick()
    {
        existingGame.Forfeit(playerId);
        existingGame = Game.None;
        navigationManager.NavigateTo("/play");
    }
}