.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hands {
    display: flex;
    flex-direction: row;
    height: 210px;
    justify-content: space-between;
}

.hand {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 4px;
}

.field-grid-container {
    flex-grow: 1;
    display: grid;
    place-items: center;
}

.field-grid {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(3, 160px);
}

.cell {
    border: solid 1px silver;
}

.mulligan-label {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 100px;
    border: solid 3px white;
    border-radius: 5px;
    background: darkgray;
    color: black;
    font-size: 20px;
}

.mulligan-button {
    position: fixed;
    right: 10%;
    bottom: 10%;
    background: gold;
    color: #222;
    width: 200px;
    height: 35px;
    font-weight: bold;
    border-radius: 10px;
    border: solid 3px silver;
}

.score {}

.player1-row.score {}

.player2-row.score {}

.field-cell {}