.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.field-grid-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    /* stretch */
    justify-content: center;
    gap: 50px;
}

.final-score {
    border: 0;
    display: flex;
    /* center */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.final-score>div {
    text-align: center;
    font-size: 30px;
}

.hands {
    display: flex;
    flex-direction: column;
    height: 230px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hand {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 4px;
}

.center-label {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 100px;
    border: solid 3px white;
    border-radius: 5px;
    background: darkgray;
    color: black;
    font-size: 20px;
}

.center-label div {
    text-align: center;
}

.mulligan-button {
    position: fixed;
    right: 10%;
    bottom: 10%;
    background: gold;
    color: #222;
    width: 200px;
    height: 60px;
    font-weight: bold;
    border-radius: 10px;
    border: solid 3px silver;
}

.turn-label {
    position: fixed;
    right: 10%;
    bottom: 10%;
    text-align: center;
}

.turn-label div {
    text-align: center;
}

.skip-button {
    margin-top: 5px;
    background: gold;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

.forfeit-button {
    all: unset;
    position:absolute;
    opacity: .4;
    top: 20px;
    right: 20px;
    outline: none;
    margin-top: 5px;
    background: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.forfeit-button:hover {
    opacity: 1;
}
