@inherits GameWatcher

@if (Game.State == GameState.PickingDecks)
{
    <div class="middle full-width">
        Waiting for other player...
    </div>
}
else
{
    <div class="container">
    <div class="field-grid-container">
        <div class="field-grid">
            @for (var i = 0; i < 3; i++)
                {
                    <div class="player1-row score cell">score</div>
                    @for (var j = 0; j < 5; j++)
                    {
                        <div class="field-card cell">card</div>
                    }
                    <div class="player2-row score cell">score</div>
                }
            </div>
        </div>
        <div class="hands">
            <div class="hand">
            </div>
            <div class="hand">
                <CardView CardModel="Card.New" />
            </div>
        </div>
    </div>
}

@code {
}