.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hands {
    display: flex;
    flex-direction: column;
    height: 230px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hand {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 4px;
}

.field-grid-container {
    flex-grow: 1;
    display: grid;
    place-items: center;
}

.field-grid {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(3, 160px);
    border: solid 8px silver;
}

.cell {
    all: unset;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: royalblue;
}

.cell.opponent {
    color: red;
}

.center-label {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 100px;
    border: solid 3px white;
    border-radius: 5px;
    background: darkgray;
    color: black;
    font-size: 20px;
}

.center-label div {
    text-align: center;
}

.mulligan-button {
    position: fixed;
    right: 10%;
    bottom: 10%;
    background: gold;
    color: #222;
    width: 200px;
    height: 60px;
    font-weight: bold;
    border-radius: 10px;
    border: solid 3px silver;
}

.field-card {
    background: #444;
}

.c00,
.c02,
.c04,
.c11,
.c13,
.c20,
.c22,
.c24 {
    background: gainsboro;
}

.score {
    border: solid 4px #222;
    box-shadow: 1px 1px 5px #111 inset;
    display: grid;
    place-items: center;
    color: silver;
}

.turn-label {
    position: fixed;
    right: 10%;
    bottom: 10%;
    text-align: center;
}

.turn-label div {
    text-align: center;
}

.skip-button {
    margin-top: 5px;
    background: gold;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

.forfeit-button {
    all: unset;
    position:absolute;
    opacity: .4;
    top: 20px;
    right: 20px;
    outline: none;
    margin-top: 5px;
    background: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.forfeit-button:hover {
    opacity: 1;
}
