@page "/play"
@inject IPlayerIdAccessor playerIdAccessor
@inject IGamesService gamesService
@inject NavigationManager navigation
@inject IHttpContextAccessor contextAccessor

<div class="middle full-width">Creating game...</div>

@code {
    protected override async void OnAfterRender(bool firstRender)
    {
        // Delay the game creation randomly to prevent spam creating games
        await Task.Delay((int)Random.Shared.NextInt64(1300, 1700));
        
        var playerId = playerIdAccessor.GetPlayerId();
        gamesService.TryCreateGame(playerId, out var game);
        navigation.NavigateTo($"/play/{game.Id}");
    }
}
