<div class="all-cards"></div>

<style>
    .all-cards {
        flex-grow: 1;
        border: solid 3px white;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }
</style>