
.card {
    min-height: 200px;
    max-height: 400px;
    font-family: luminari;
    letter-spacing: 2px;
    background-color: #338;
    position: relative;
    aspect-ratio: 5/8;
    border: solid 4px silver;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.card.selected {
    border-color: red;
}

.pin-cost {
    position: absolute;
    left: 5%;
    top: 5%;
    height: 25px;
}

.pin-cost>img {
    height: 100%;
    padding: 0;
    margin: 0 4px 0 0;
}

.value {
    position: absolute;
    right: 1.5%;
    top: 1.5%;
    color: gold;
    border: solid 3px gold;
    border-radius: 50%;
    font-weight: bold;
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    height: 38px;
    font-size: 20px;
}

.field {
    aspect-ratio: 1;
    height: 35%;
    margin-bottom: 8%;
    border: solid 2px silver;
    border-radius: 8px;
    display: grid;
    padding: 3%;
    grid-template-columns: auto auto auto auto auto;
    gap: 2px;
}

.field>div {
    border-radius: 3px;
    background: #584839;
}

.field>div.field-boosted {
    background: gold;
}

.field>div.field-middle {
    background: #eee;
}

.name {
    border-top: solid 2px silver;
    display: grid;
    place-items: center;
    height: 15%;
    width: 100%;
    padding: 0 4px;
}