.card {
    min-height: 200px;
    max-height: 400px;
    font-family: luminari;
    letter-spacing: 2px;
    background-color: #338;
    position: relative;
    z-index: 0;
    aspect-ratio: 5/8;
    border: solid 3px silver;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: url('/images/blue.jpg') center/cover no-repeat;
    overflow: hidden;
}

.card.legendary {
    /* light gold border*/
    border-color: #FFD700;
}

.image {
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: 100% 75%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card.selected {
    border-color: red;
}

.pin-cost {
    position: absolute;
    z-index: 2;
    left: 5%;
    top: 5%;
    height: 25px;
}

.pin-cost>img {
    height: 100%;
    padding: 0;
    margin: 0 4px 0 0;
}

.value {
    position: absolute;
    z-index: 2;
    right: 1.5%;
    top: 1.5%;
    color: gold;
    border: solid 3px gold;
    border-radius: 50%;
    font-weight: bold;
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    height: 38px;
    font-size: 20px;
    background: rgb(0, 0, 0, 0.75);
}

.ability {
    color: gold;
    position: absolute;
    bottom: 12%;
    left: 2%;
    font-size: 28px;
    z-index: 2;
}

.field {
    aspect-ratio: 1;
    z-index: 2;
    border: solid 2px silver;
    border-width: 2px 2px 0 2px;
    border-radius: 8px 8px 0 0;
    display: grid;
    padding: 3px;
    grid-template-columns: repeat(5, 9px);
    gap: 2px;
    background: rgba(0, 0, 0, 0.5);
}

.field>div {
    height: 9px;
    border-radius: 2px;
    background: #584839;
    position: relative;
}

.field>div.field-boosted {
    background: gold;
}

.field>div.field-middle {
    background: #eee;
}

.field>div.field-ability::after {
    content: " ";
    position: absolute;
    border: solid 2px red;
    inset: 0;
    border-radius: 2px;
}

.name {
    border-top: solid 2px silver;
    display: grid;
    place-items: center;
    height: 15%;
    width: 100%;
    padding-top: 2px;
    background: rgb(0, 0, 0, .75);
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    letter-spacing: 0;
}

.desc {
    position: fixed;
    bottom: 30px;
    left: 30px;
    color: white;
    display: none;
    background-color: #333;
    padding: 5px;
    z-index: 9999;
    border-radius: 5px;
}

.card:hover .desc {
    display: block;
}
