.container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.decks-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
}

.choose-label {
    font-size: 20px;
}

.copied {
    margin-left: auto;
}

.copied>span {
    display: none;
}

.copied.show>span {
    display: inline;
}

.copylink {
    background-color: transparent;
    color: white;
    padding: 5px 15px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: solid 3px silver;
    cursor: pointer;
}

.copylink:hover {
    background: white;
    color: #222;
}

.start {
    background-color: transparent;
    color: gold;
    padding: 5px 15px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: solid 3px silver;
    cursor: pointer;
}

.start:hover {
    background: gold;
    color: #222;
}

.all-cards {
    flex-grow: 1;
    border: solid 3px silver;
    border-radius: 10px;
    height: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    align-content: flex-start;
    overflow-y: scroll;
    margin-bottom: 35px;
}

.all-cards ::deep .card {
    height: 200px;
    margin-bottom: 1px;
}

.card-holder {
    text-align: center;
}