@inject IDecksService decksService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="container">
    <div class="decks-header">
        <span class="choose-label">Choose deck:</span>
        <DeckSelectButtons SelectedDeck="selectedDeckIndex" OnDeckClicked="SelectDeck" />
        <div class="copied @this.MaybeClass("show", this.copied)"><span>Copied!</span></div>
        <button type="button" class="copylink" @onclick="HandleCopyLink">Copy invite link</button>
        <button type="button" class="start" @onclick="HandleStartClick">Start game</button>
    </div>
    <div class="all-cards">
        @foreach (var deckCard in selectedDeck.cards)
        {
            var cardModel = Cards.At(deckCard.index);
            <div class="card-holder">
                <CardView CardModel="cardModel" />
                <div>@deckCard.count/2</div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public Action<Deck> OnStartGame { get; set; } = _ => { };

    private int selectedDeckIndex = 0;
    private Deck selectedDeck = new([]);

    private bool copied = false;

    protected override async Task OnInitializedAsync()
    {
        selectedDeckIndex = await decksService.GetSelectedDeck();
        selectedDeck = await decksService.LoadDeck(selectedDeckIndex);
    }

    private async Task SelectDeck(int index)
    {
        selectedDeckIndex = index;
        selectedDeck = await decksService.LoadDeck(selectedDeckIndex);
        StateHasChanged();
    }

    public void HandleStartClick()
    {
        OnStartGame(selectedDeck);
    }

    public void HandleCopyLink()
    {
        var url = NavigationManager.Uri;
        JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", url);
        copied = true;
        StateHasChanged();
    }
}