<button type="button" class="deck-select-button">@Index</button>

<style>
    .deck-select-button {
        color: white;
        background: transparent;
        border: solid 3px white;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        cursor: pointer;
        margin: 0 5px;
    }
</style>

@code {
    [Parameter]
    public int Index { get; set; }
}