<div class="field-card @(this.MaybeClass("opponent", IsOpponent))">
    <div class="image" style='background-image: url("@(CardModel?.ImageUrl)");@(Transform)'></div>
    <div class="value">@Power</div>
    <div class="desc">@CardModel?.Description</div>
</div>

@code {
    [Parameter] public Card? CardModel { get; set; } = null;
    [Parameter] public bool IsOpponent { get; set; } = false;
    public string Transform { get; set; } = "";
    public int Power => Math.Max(0, CardModel?.AdjustedPower ?? 0);

    override protected void OnParametersSet()
    {
        if (CardModel == null) return;
        // Create a css transform out of the CardModel.ImageOffsets property
        var translate = $"translate({CardModel.FieldImageOffsets.XOffset}px, {CardModel.FieldImageOffsets.YOffset}px)";
        var scale = $"scale({CardModel.FieldImageOffsets.Scale})";
        Transform = $"transform: {translate} {scale};";
    }
}